$smallfont:  11px;

/* General setting */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  margin: 0 auto;
  width: 1000px;
}

input, textarea, select {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #000;
}

p, ul, ol, blockquote, table, h1, h2, h3, h4, h5, h6 {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
}

p, ul, ol, blockquote, table, hr {
  margin-bottom: 18px;
}

small, .small {
  font-size: 11px;
}

/* Components */
div#main {
  background: url(../images/launch_header.png) no-repeat;
  width: 1000px;
  height: 360px;
  text-indent: -5000px;
  margin: 170px 0px 196px 0px;
}

div#footer {
  font-size: $smallfont;
  padding: 0px;
  margin: 0px 0px 0px 1px;

  h1 {
    font-size: $smallfont;
    font-weight: bold;
    padding: 0px;
    margin: 0px
  }

  form#mailing-list {
    p {
      margin-bottom: 20px;
    }

    input[type='email'] {
      display: inline-block;
      vertical-align: middle;
      width: 172px;
      height: 16px;
      padding: 2px 5px;
      border: 1px #929292 solid;
      border-right: none;
    }

    input[type='submit'] {
      display: inline-block;
      vertical-align: middle;
      border: none;
      background: transparent url(../images/join.png) no-repeat;
      cursor: pointer;
      height: 22px;
      width: 50px;
      text-indent: -5000px;
      margin: 0 0 0 -4px;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      border-radius: 0;
    }
  }
}


div#message {
  z-index: 500;
  background: #000;
  color: #fff;
  left: 50%;
  margin-left: -160px;
  padding: 5px 10px 7px 10px;
  position: fixed;
  text-align: center;
  font-weight: bold;
  top: 0;
  width: 300px; /* Total 320 */
  -moz-border-radius: 0 0 7px 7px;    /* [OBSOLETE?] */
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;

  a {
    color: #999;
  }
}

